tpp/schema/protXML_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Wei Yan (Institute for Systems Biology) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
													<xs:element name="modification_info" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="mod_aminoacid_mass" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="position" type="xs:string" use="required"/>
																		<xs:attribute name="mass" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="mod_nterm_mass" type="xs:string"/>
															<xs:attribute name="mod_cterm_mass" type="xs:string"/>
															<xs:attribute name="modified_peptide" type="xs:string"/>
														</xs:complexType>
													</xs:element>
	<xs:element name="ASAPRatio">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ASAP_Seq" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ASAP_Peak" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ASAP_Dta" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="peptide_index" type="xs:string" use="required"/>
												<xs:attribute name="include" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="status" type="xs:string" use="required"/>
									<xs:attribute name="include" type="xs:string" use="required"/>
									<xs:attribute name="datanum" type="xs:nonNegativeInteger" use="required"/>
									<xs:attribute name="ratio_mean" type="xs:double" use="required"/>
									<xs:attribute name="ratio_standard_dev" type="xs:double" use="required"/>
									<xs:attribute name="weight" type="xs:double" use="required"/>
									<xs:attribute name="peptide_binary_ind" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="status" type="xs:string" use="required"/>
						<xs:attribute name="include" type="xs:string" use="required"/>
						<xs:attribute name="datanum" type="xs:nonNegativeInteger" use="required"/>
						<xs:attribute name="ratio_mean" type="xs:double" use="required"/>
						<xs:attribute name="ratio_standard_dev" type="xs:double" use="required"/>
						<xs:attribute name="weight" type="xs:double" use="required"/>
						<xs:attribute name="light_sequence" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ratio_mean" type="xs:double" use="required"/>
			<xs:attribute name="ratio_standard_dev" type="xs:double" use="required"/>
			<xs:attribute name="ratio_number_peptides" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="heavy2light_ratio_mean" type="xs:double"/>
			<xs:attribute name="heavy2light_ratio_standard_dev" type="xs:double"/>
			<xs:attribute name="description" type="xs:string"/>
			<xs:attribute name="status" type="xs:string"/>
			<xs:attribute name="adj_ratio_mean" type="xs:double"/>
			<xs:attribute name="adj_ratio_standard_dev" type="xs:double"/>
			<xs:attribute name="heavy2light_adj_ratio_mean" type="xs:double"/>
			<xs:attribute name="heavy2light_adj_ratio_standard_dev" type="xs:double"/>
			<xs:attribute name="pvalue" type="xs:double"/>
			<xs:attribute name="decimal_pvalue" type="xs:double"/>
			<xs:attribute name="peptide_inds" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="annotation">
		<xs:complexType>
			<xs:attribute name="protein_description" type="xs:string" use="required"/>
			<xs:attribute name="ipi_name" type="xs:string"/>
			<xs:attribute name="refseq_name" type="xs:string"/>
			<xs:attribute name="swissprot_name" type="xs:string"/>
			<xs:attribute name="ensembl_name" type="xs:string"/>
			<xs:attribute name="trembl_name" type="xs:string"/>
			<xs:attribute name="locus_link_name" type="xs:string"/>
			<xs:attribute name="flybase" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="protein_summary">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="protein_summary_header">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="program_details"/>
							<xs:element name="nsp_information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nsp_distribution" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="bin_no" type="xs:integer" use="required"/>
												<xs:attribute name="nsp_lower_bound_incl" type="xs:double" use="required"/>
												<xs:attribute name="nsp_upper_bound_excl" type="xs:string" use="required"/>
												<xs:attribute name="pos_freq" type="xs:double" use="required"/>
												<xs:attribute name="neg_freq" type="xs:double" use="required"/>
												<xs:attribute name="pos_to_neg_ratio" type="xs:double" use="required"/>
												<xs:attribute name="alt_pos_to_neg_ratio" type="xs:double"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="neighboring_bin_smoothing" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="protein_summary_data_filter" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="min_probability" type="xs:double" use="required"/>
									<xs:attribute name="sensitivity" type="xs:double" use="required"/>
									<xs:attribute name="false_positive_error_rate" type="xs:double" use="required"/>
									<xs:attribute name="predicted_num_correct" type="xs:double"/>
									<xs:attribute name="predicted_num_incorrect" type="xs:double"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="reference_database" type="xs:string" use="required"/>
						<xs:attribute name="win-cyg_reference_database" type="xs:string"/>
						<xs:attribute name="residue_substitution_list" type="xs:string"/>
						<xs:attribute name="organism" type="xs:string"/>
						<xs:attribute name="enzyme" type="xs:string"/>
						<xs:attribute name="source_files" type="xs:string" use="required"/>
						<xs:attribute name="source_files_alt" type="xs:string" use="required"/>
						<xs:attribute name="win-cyg_source_files" type="xs:string"/>
						<xs:attribute name="source_file_xtn" type="xs:string"/>
						<xs:attribute name="output_file" type="xs:string" use="required"/>
						<xs:attribute name="min_peptide_probability" type="xs:double" use="required"/>
						<xs:attribute name="min_peptide_weight" type="xs:double" use="required"/>
						<xs:attribute name="num_predicted_correct_prots" type="xs:double" use="required"/>
						<xs:attribute name="run_options" type="xs:string"/>
						<xs:attribute name="num_input_1_spectra" type="xs:integer" use="required"/>
						<xs:attribute name="num_input_2_spectra" type="xs:integer" use="required"/>
						<xs:attribute name="num_input_3_spectra" type="xs:integer" use="required"/>
						<xs:attribute name="initial_min_peptide_prob" type="xs:double" use="required"/>
						<xs:attribute name="total_no_spectrum_ids" type="xs:double"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="XPress_analysis_summary" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="date" type="xs:string" use="required"/>
						<xs:attribute name="min_peptide_probability" type="xs:double" use="required"/>
						<xs:attribute name="min_peptide_weight" type="xs:double" use="required"/>
						<xs:attribute name="min_protein_probability" type="xs:double" use="required"/>
						<xs:attribute name="reference_isotope" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ASAP_prot_analysis_summary" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="version" type="xs:string"/>
						<xs:attribute name="binary_ref_files" type="xs:string"/>
						<xs:attribute name="date" type="xs:string" use="required"/>
						<xs:attribute name="min_peptide_probability" type="xs:double" use="required"/>
						<xs:attribute name="min_peptide_weight" type="xs:double" use="required"/>
						<xs:attribute name="min_protein_probability" type="xs:double" use="required"/>
						<xs:attribute name="reference_isotope" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ASAP_pvalue_analysis_summary" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="date" type="xs:string" use="required"/>
						<xs:attribute name="background_ratio_mean" type="xs:double" use="required"/>
						<xs:attribute name="background_ratio_stdev" type="xs:double" use="required"/>
						<xs:attribute name="background_fitting_error" type="xs:double" use="required"/>
						<xs:attribute name="analysis_distribution_file" type="xs:string" use="required"/>
						<xs:attribute name="full_analysis_distr_file" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="dataset_derivation">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="data_filter">
								<xs:complexType>
									<xs:attribute name="number" type="xs:string" use="required"/>
									<xs:attribute name="parent_file" type="xs:string" use="required"/>
									<xs:attribute name="windows_parent" type="xs:string"/>
									<xs:attribute name="description" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="generation_no" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="protein_group" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ASAPRatio" minOccurs="0"/>
							<xs:element name="protein" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="XPressRatio" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="ratio_mean" type="xs:double" use="required"/>
												<xs:attribute name="ratio_standard_dev" type="xs:double" use="required"/>
												<xs:attribute name="ratio_number_peptides" type="xs:double" use="required"/>
												<xs:attribute name="heavy2light_ratio_mean" type="xs:double"/>
												<xs:attribute name="heavy2light_ratio_standard_dev" type="xs:double"/>
												<xs:attribute name="peptide_string" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element ref="ASAPRatio" minOccurs="0"/>
										<xs:element ref="annotation" minOccurs="0"/>
										<xs:element name="indistinguishable_protein" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="annotation" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="protein_name" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="peptide" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="modification_info" minOccurs="0" maxOccurs="unbounded"/>
<!--
													<xs:element name="modification_info" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="mod_aminoacid_mass" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="position" type="xs:string" use="required"/>
																		<xs:attribute name="mass" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="mod_nterm_mass" type="xs:string"/>
															<xs:attribute name="mod_cterm_mass" type="xs:string"/>
															<xs:attribute name="modified_peptide" type="xs:string"/>
														</xs:complexType>
													</xs:element>
-->
													<xs:element name="peptide_parent_protein" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="protein_name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="indistinguishable_peptide" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>

<xs:sequence>
<xs:element ref="modification_info" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>

<!-- must add modification_info here -->
	

														<xs:attribute name="peptide_sequence" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>

												<xs:attribute name="peptide_sequence" type="xs:string" use="required"/>
												<xs:attribute name="charge" type="xs:positiveInteger" use="required"/>
												<xs:attribute name="initial_probability" type="xs:double" use="required"/>
												<xs:attribute name="nsp_adjusted_probability" type="xs:double" use="optional"/>
												<xs:attribute name="peptide_group_designator" type="xs:string"/>
												<xs:attribute name="weight" type="xs:double" use="required"/>
												<xs:attribute name="is_nondegenerate_evidence" type="xs:string" use="required"/>
												<xs:attribute name="n_enzymatic_termini" type="xs:nonNegativeInteger" use="required"/>
												<xs:attribute name="n_sibling_peptides" type="xs:double"/>
												<xs:attribute name="n_sibling_peptides_bin" type="xs:integer" use="required"/>
												<xs:attribute name="n_instances" type="xs:integer" use="required"/>
												<xs:attribute name="calc_neutral_pep_mass" type="xs:double"/>
												<xs:attribute name="is_contributing_evidence" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="protein_name" type="xs:string" use="required"/>
									<xs:attribute name="probability" type="xs:double" use="required"/>
									<xs:attribute name="percent_coverage" type="xs:double"/>
									<xs:attribute name="n_indistinguishable_proteins" type="xs:integer" use="required"/>
									<xs:attribute name="unique_stripped_peptides" type="xs:string"/>
									<xs:attribute name="group_sibling_id" type="xs:string" use="required"/>
									<xs:attribute name="total_number_peptides" type="xs:integer"/>
									<xs:attribute name="subsuming_protein_entry" type="xs:string"/>
									<xs:attribute name="pct_spectrum_ids" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="group_number" type="xs:string" use="required"/>
						<xs:attribute name="pseudo_name" type="xs:string"/>
						<xs:attribute name="probability" type="xs:double" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="execution_date" type="xs:string" use="required"/>
			<xs:attribute name="program_name" type="xs:string" use="required"/>
			<xs:attribute name="program_version" type="xs:string" use="required"/>
		</xs:complexType>
		<xs:key name="program_name_key">
			<xs:selector xpath="."/>
			<xs:field xpath="@program_name"/>
		</xs:key>
	</xs:element>
	<xs:element name="proteinprophet_details">
		<xs:complexType>
			<xs:attribute name="occam_flag" type="xs:string" use="required"/>
			<xs:attribute name="groups_flag" type="xs:string" use="required"/>
			<xs:attribute name="degen_flag" type="xs:string" use="required"/>
			<xs:attribute name="nsp_flag" type="xs:string" use="required"/>
			<xs:attribute name="initial_peptide_wt_iters" type="xs:string" use="required"/>
			<xs:attribute name="nsp_distribution_iters" type="xs:string" use="required"/>
			<xs:attribute name="final_peptide_wt_iters" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anySimpleType">
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
					<xs:attribute name="type" type="xs:anySimpleType"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:group name="program_details">
		<xs:choice>
			<xs:element ref="proteinprophet_details"/>
		</xs:choice>
	</xs:group>
</xs:schema>
